.home-main-container{
    background-color: rgb(120, 120, 81);
    margin-top: 60px;
    color: aliceblue;
    display: flex;
    justify-content: center; 
    padding-top: 20px;
    /* padding: 0px 5px;  */
    width: 100%;
    column-gap: 30px;
    row-gap: 15px;
    flex-wrap: wrap; 
    align-items: center;
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home-main-container{
        /* padding-top: 20px; */
        gap: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}