.card-main-container{
    width: auto;
    /* max-width: 350px; */
    cursor: pointer;
    /* max-width: calc(33.33% - 1000px); */
}

.card-image{
    aspect-ratio: 16 / 9;
    width: 325px;
    background-color: gray;
    border-radius: 10px
}

.profilePicture{
    width: 35px;
    border-radius: 20px;
}

.videoInfo{
    display: flex;
    column-gap: 10px;
    padding-top: 5px;
}

.row{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}

.cardTitle{
    
}

@media only screen and (max-width: 600px) {
    .card-main-container{
        
    }
}